# Dependências
/node_modules/

# Build
/dist/
/build/
/out/

# Logs
npm-debug.log*
*.log

# Cache
.vite/
.next/
.cache/
.temporary/
coverage/

# Editor/IDE
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Ferramentas de build
/.gradle/
/.gradle-cache/