.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 6px;
  font-size: 16px;
}

input{
  width: 316px;
  height: 58px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.input-field {
  padding: 0px 13px;
}

